body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header {
    position: relative;
}

.header-bg {
    display: flex;
    align-items: center;
    background-color: black;
    border: 2px solid gold;
    padding: 10px 0;
    justify-content: space-between;
}

#logo {
    max-width: 120px;
    margin-right: auto;
}

h1 {
    color: white;
    flex-grow: 1;
    text-align: center;
}

#main-content {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}

address p {
    margin: 5px 0;
}

.login {
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

