<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Neal Impact Garage Doors{% endblock %}</title>
    <!-- Puedes añadir aquí enlaces a CSS, JS y otras dependencias -->
</head>
<body>
    <header>
        <!-- Aquí puedes añadir tu barra de navegación, logo, etc. -->
    </header>

    <main>
        {% block content %}
        <!-- El contenido específico de cada página irá aquí. -->
        {% endblock %}
    </main>

    <footer>
        <!-- Aquí puedes añadir tu pie de página -->
    </footer>

    <!-- Puedes añadir aquí scripts de JS que se carguen al final -->
</body>
</html>
