
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neal Impact Garage Doors - Dealers Portal</title>
    <link rel="stylesheet" href="styles.css">
</head>


<body>
    <div class="container">
        <header>
            <div class="header-bg">
                <img src="imagens/logo.jpg" alt="Neal Impact Garage Doors Logo" id="logo">
                <h1>Neal Impact Garage Doors</h1>
            </div>
        </header>
        <section id="main-content">
            <h2>Dealers Portal</h2>
            <address>
                <p>Address: 8430 NW 68th St Unit 6, Miami, FL 33166</p>
                <p>Phone: 786-5472003</p>
                <p>Work: 786-5472003</p>
                <p>Email: ntriana@nealimpactgaragedoors.com</p>
            </address>
            <div class="login">
                <p>Please, log into your account!</p>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button>Login</button>
            </div>
        </section>
    </div>
</body>

</html>

